* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrusel {
    display: flex;
    justify-content: center;
}

.carrusel-1 {
    width: 55vw;
    height: 60vh;
}

.carousel-image-fixed {
    width: 55vw;
    height: 60vh;
}

.ad {
    width: 100%;
}

.ad-container {
    height: 350px;
    background-color: antiquewhite;
}

.ad-articulos {
    display: flex;
    justify-content: center;
}

.ad-card {
    width: 350px;
    margin: 50px;
}

