* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-section {
    width: 100%;
    height: 150px;
    background-color: #ffd500;
}

.vortex-logo {
    width: 160px;
    height: 160px;
}

.barra-busqueda {
    width: 600px;
    display: flex;
    margin-right: 100px;
}

.btn-buscar {
    width: 90px;
    background-color: #002968;
    border-radius: 10px;
    color: white;
}
