.body {
        font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #00296b;
    color: #fff;
    max-width: 100vw;
}

main {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 30px 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 40px;
    color: #000000;
    letter-spacing: 3px;
}


section div {
    background: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section div img {
    border-radius: 12px;
    object-fit: cover;
}

section div p {
    font-size: 18px;
    color: #444;
    line-height: 1.5;
    margin: 0;
}

@media (max-width: 768px) {
    section div {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    section div img {
        width: 80%;
        max-width: 300px;
    }

    section div p {
        text-align: center;
    }
}

.btn-toggle {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.2s;
}

.btn-toggle:hover {
    background-color: #0056b3;
}