* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categoria-section {
    width: 100%;
}

.categoria-container {
    width: 100%;
}

.categoria-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}