* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.articulos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
}

.codigo-postal {
    position: relative;
    left: 30%;
}

.tab-container {
    width: 70vw;
    align-items: center;
}

.titulo {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 100px;

}

.articulo {
    width: 50px;
}

.opciones {
    display: flex;
    justify-content: space-around;
}

.canjear-cupon {
    height: 160px;
    width: 300px;
    background-color: #FDC500;
    border-radius: 10px;
    margin-right: 35vw;
}

.canjear-cupon h2 {
    background-color: #003F68;
    height: 40px;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    text-align: center;
    align-content: center;
}

.canjear-cupon .btn-canjear {
    background-color: #002968;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
    left: 74%;
}

.btn-canjear:hover {
    background-color: #00508D;
}

.seguir-explorando {
    width: 200px;
    background-color: #002968;
    border-radius: 8px;
}

.seguir-explorando a {
    color: white;
}

.seguir-explorando:hover {
    background-color: #00508D;
}

.pagar {
    width: 100px;
    background-color: #003F68;
    color: white;
    border-radius: 8px;
}

.pagar:hover {
    background-color: #00508D;
}


