* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrusel {
    display: flex;
    justify-content: center;
}

.carrusel-1 {
    width: 55vw;
    height: 60vh;
}

.carousel-image-fixed {
    width: 55vw;
    height: 60vh;
}

.ad {
    width: 100%;
}

.ad-h1 {
    font-family: "bebas neue";
}

.ad-container {
    height: 350px;
    background-color: #FDC500;
}

.ad-articulos {
    display: flex;
    justify-content: center;
}

.ad-card {
    width: 350px;
    height: 10px;
    margin: 50px;
}

.btn-ad {
    color: white;
    background-color: #00296B;
}

.btn-ad:hover {
    background-color: #00509D;
    color: white;
}