* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
}

.navbar-section {
    width: 100%;
    height: 130px;
    background-color: #ffd500;
    flex-direction: row;
}

.oferta-imperdible {
    width: 100%;
    height:20px;
    background-color: black;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.vortex-logo {
    width: 100px;
    height: 100px;
}

.barra-busqueda {
    width: 35vw;
    display: flex;
    margin-right: 15vw;
}

.btn-buscar {
    width: 90px;
    background-color: #002968;
    border-radius: 10px;
    color: white;
}

.iconos {
    margin-right: 30px;
}

.footer {
    height: 300px;
    width: 100%;
    background-color: #ffd500;
}