* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.articulos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
}

.tab-container {
    width: 70vw;
    align-items: center;
}

.titulo {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 50px;

}

.articulo {
    width: 50px;
}

td:hover {
    background-color: beige;
    
}