* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imagen-detalle-producto {
    width: 600px;
    height: 600px;
    display: block;
    border: 5px solid;
    border-color: black;
}

@media (max-width: 768px) {
    .imagen-detalle-producto {
        width: 450px;
        height: 450px;
    }

}

@media (max-width: 426px) {
    .interfaz {
        margin-top: 50px;
    }
}


.texto {
    font-size: 27px;
}

.texto-oferta {
    font-size: 27px;
    color: green;
}

.cuota {
    font-size: 20px;
    color: green;
}

.tarjeta {
    font-size: 50px;
}

.talle-drop {
    width: 80px;
    background-color: aliceblue;
}

.talles {
    color: aliceblue;
    background-color: aliceblue;
}

.botn-pagar {
    height: 50px;
    background-color: #002968;
    color: white;
    margin: 5px;
    border-radius: 8px;
}

.botn-pagar:hover {
    background-color: #003F68;
    color: white;
}

.cantidad {
    width: 50px;
}

.btn-cantidad {
    background-color: #003F68;
    color: white;
}
