@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrusel {
    display: flex;
    justify-content: center;
}

.carrusel-1 {
    width: 55vw;
    height: 60vh;
}

.carousel-image-fixed {
    width: 55vw;
    height: 60vh;
}

.ad {
    width: 100%;
    height: 90vh;
}

.ad-h1 {
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
}

.ad-container {
    margin-top: 150px;
    height: 350px;
    background-color: #FDC500;
}

.ad-articulos {
    display: flex;
    justify-content: center;
}

.ad-card {
    width: 350px;
    height: 10px;
    margin: 50px;
    font-family: "Bebas Neue", sans-serif;
}

.tex-colr {
    color: green;
}

.img-container {
    position: relative;
}

.img-base {
    position: relative;
    display: block;
    width: 100%;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.img-container:hover .img-hover {
    opacity: 1;
}

.ad-body {
    background-color: rgba(241, 241, 241, 0.658);
}

.btn-ad {
    font-size: 20px;
    color: white;
    background-color: #00296B;
    width: 100px;
}

.btn-ad:hover {
    background-color: #00509D;
    color: white;
}

.card-text {
    font-size: 22px;
}

.productos-section {
    width: 100%;
    height: 100vh;
}

.productos-h2 {
    font-size: 35px;
    margin-left: 50px;
    font-family: "Bebas Neue", sans-serif;
}

.productos-container {
    margin-top: 150px;
    height: 350px;
}

.productos {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.producto-card {
    width: 300px;
    margin: 50px;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 8px;
}

.product-body {
    background-color: rgba(241, 241, 241, 0.658);
}

.añadir-carrito {
    margin-top: 10px;
    width: 175px;
    height: 50px;
    border-radius: 8px;
    background-color: #00296B;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

.añadir-carrito:hover {
    background-color: #00509D;
    color: white;
}

.marcas-section {
    width: 100%;
}

.marcas-container {
    display: flex;
    flex: row;
    margin: 10px;
}

.marca .img {
    width: 110px;
    height: 150px;
}