@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
}

.navbar-section {
    width: 100%;
    height: 130px;
    background-color: #ffd500;
    flex-direction: row;
}

.oferta-imperdible {
    width: 100%;
    height:20px;
    background-color: black;
    color: white;
    font-size: 17px;
    font-family: "bebas neue", sans-serif;

    display: flex;
    justify-content: center;
}

.vortex-logo {
    width: 100px;
    height: 100px;
}

.barra-busqueda {
    width: 35vw;
    display: flex;
    margin-left: 230px;
}

.btn-buscar {
    width: 90px;
    background-color: #002968;
    border-radius: 10px;
    color: white;
}

.iconos {
    margin-right: 30px;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: #ffd500;
    display: flex;
    justify-content: space-around;
}

.logo-footer2 {
    width: 130px;
}

h3 {
    font-size: 20px;
}

.terminos-y-ubicacion {
    justify-content: center;
}

.iconos {
    display: flex;
    padding: 5px;
    margin: 5px;
    width: 15vw;
    gap: 20px;
    font-size: 1.4em;
}

.iconos a {
    color: #002968;
    transition: color 0.3s;
}

.iconos a:hover {
    color: #00508d;
}
